@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --ff: 'Varela Round', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    margin: 0;
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: var(--ff);
    background-image: url(../images/bg-initial.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(121, 139, 139);
    font-size: 1.4rem;
    transition: background-image 0.7s linear;
    padding: 1rem;

}

.initial {
    visibility: hidden;
}

.hide {
    display: none;
}

.invisible {
    opacity: 0;
    margin-bottom: -116%;
}

/* body::after {
    position: absolute;
    inset: 0;
    background: black;
    content: url(https://source.unsplash.com/1600x1050/?london+landscape);
} */

.app {
    max-width: 100rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: all 1s ease;
}

.search {
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100vmax;
    padding: 1rem 1.5rem 1rem 1.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem
}

.search input {
    color: white;
    background: none;
    outline: none;
    border: none;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.6);
    font-size: 1.6rem;
    font-family: var(--ff);
    border-radius: 0;
}

.search button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 0;
    padding-top: 0.3rem;
    padding-right: 0.1rem;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}

@media (hover:hover) {
    .search button:hover {
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.main, .card {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2rem;
    border-radius: 0.5rem;
}

.weather {
    padding-inline: 1rem;
    transition: margin 0.8s ease, opacity 1s linear 0.8s;
}


.description {
    text-transform: capitalize;
}

img {
    filter: brightness(2);
}